.upload-question {
    padding: 10px;
    width: 100%;
    flex-direction: column;
    border: solid;
    border-radius: 20px;

    .question-container {
      display: flex;
      justify-content: space-evenly;
    }

    .question-answer {
      flex-direction: column;
      width: 30%;
    }

    .option-selection {
      column-count: 2;
    }
    
    .question-option-container {
      display: block;
      margin: auto;
      margin-left: 10%
    }

    .btn {
      height: 100%;
    }

    .btn.btn-secondary {
      height: 70%;
    }

    .form-control.small {
      width: 25%;
    }
}

