.options-container {
    column-count: 2;

    .dashboard-option {
        position: relative;
        text-align: center;
    
        img {
            width: 400px;
            height: 400px;
        }
    
        .option-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

